* {
  font-family: "Iosevka Term Extended";
  color: #888;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#temperature {
}

#network, #battery, #clock {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 4px;
  margin: 3px;
}
